# Rust
/target/
**/*.rs.bk
Cargo.lock

# OS файлы
.DS_Store
Thumbs.db

# Editor файлы
.vscode/
.idea/
*.swp
*.swo

# Obsidian (локальное состояние)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/themes/


# Build файлы
*.o
*.so
*.dylib
*.dll
*.rlib

# Documentation
/doc/
/book/
/docs/book/

# Environment
.env
*.env

# IDE
.history/

# Other files
*.patch
test.wav
